<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>659514407527-j0cnnrvv24tq5l753rk2le7a7lg45oc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659514407527-j0cnnrvv24tq5l753rk2le7a7lg45oc2</string>
	<key>API_KEY</key>
	<string>AIzaSyD9wG_a0qgAK-9-hBtS_DB0yDy5K2trzXs</string>
	<key>GCM_SENDER_ID</key>
	<string>659514407527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.fithawk</string>
	<key>PROJECT_ID</key>
	<string>fithawk-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>fithawk-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659514407527:ios:04af59c85b07dcdc</string>
	<key>DATABASE_URL</key>
	<string>https://fithawk-backend.firebaseio.com</string>
</dict>
</plist>