@font-face {
    font-family: 'Roboto Black';
    src: url('../assets/fonts/Roboto-Black.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto BlackItalic';
    src: url('../assets/fonts/Roboto-BlackItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto BoldItalic';
    src: url('../assets/fonts/Roboto-BoldItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto Italic';
    src: url('../assets/fonts/Roboto-Italic.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../assets/fonts/Roboto-Light.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto LightItalic';
    src: url('../assets/fonts/Roboto-LightItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../assets/fonts/Roboto-Medium.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto MediumItalic';
    src: url('../assets/fonts/Roboto-MediumItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../assets/fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('../assets/fonts/Roboto-Thin.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto ThinItalic';
    src: url('../assets/fonts/Roboto-ThinItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'SF UI Display Black';
    src: url('../assets/fonts/SF-UI-Display-Black.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Bold';
    src: url('../assets/fonts/SF-UI-Display-Bold.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Heavy';
    src: url('../assets/fonts/SF-UI-Display-Heavy.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Light';
    src: url('../assets/fonts/SF-UI-Display-Light.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Medium';
    src: url('../assets/fonts/SF-UI-Display-Medium.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Regular';
    src: url('../assets/fonts/SF-UI-Display-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Semibold';
    src: url('../assets/fonts/SF-UI-Display-Semibold.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Thin';
    src: url('../assets/fonts/SF-UI-Display-Thin.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Display Ultralight';
    src: url('../assets/fonts/SF-UI-Display-Ultralight.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text Bold';
    src: url('../assets/fonts/SF-UI-Text-Bold.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text BoldItalic';
    src: url('../assets/fonts/SF-UI-Text-BoldItalic.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text Heavy';
    src: url('../assets/fonts/SF-UI-Text-Heavy.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text HeavyItalic';
    src: url('../assets/fonts/SF-UI-Text-HeavyItalic.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text Light';
    src: url('../assets/fonts/SF-UI-Text-Light.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text LightItalic';
    src: url('../assets/fonts/SF-UI-Text-LightItalic.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text Medium';
    src: url('../assets/fonts/SF-UI-Text-Medium.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text MediumItalic';
    src: url('../assets/fonts/SF-UI-Text-MediumItalic.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text Regular';
    src: url('../assets/fonts/SF-UI-Text-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text RegularItalic';
    src: url('../assets/fonts/SF-UI-Text-RegularItalic.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text Semibold';
    src: url('../assets/fonts/SF-UI-Text-Semibold.otf') format("opentype");
}
@font-face {
    font-family: 'SF UI Text SemiboldItalic';
    src: url('../assets/fonts/SF-UI-Text-SemiboldItalic.otf') format("opentype");
}
